@font-face {
  font-family: 'iconfont';
  src: url("1548666691-81fbd4fcf21ee1da57533743abf5b76f.eot");  
  src: url("1548666691-4c52f6f11c81827567fd3846ce06178b.eot") format('embedded-opentype'),  
  url("1548666691-eb1a62e5eea9b3eca7c5af8c445cd95d.woff") format('woff'),  
  url("1548666691-ffa88680c4b81b948ec44b9caf2fae87.ttf") format('truetype'),  
  url("1548666691-5498595985477b2c02ee652c6ea69cdf.svg") format('svg');  
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:20px;
    font-style:normal;
    // -webkit-text-stroke-width: 0.4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: "Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,Verdana,"Microsoft Yahei",sans-serif;
  background-color: #fafafa;
}
.clear{
  clear: both;
}
a:hover{
  text-decoration: none;
}
.global-header-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(0,0,0,0.75);
  display: none;
  transition:opacity 0.5s;
  opacity: 0;
}
.overlay-show{
  display: block;
  opacity: 0;
  transition:opacity 0.5s;
}
#content{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  min-height: 1154px;
}
#sidebar{
  padding-left: 25px;
  margin-top: 10px;
}
.sidebar_box{
  position: absolute;
}
.sidebar_wrapper{
  position: fixed;
  width: 447px;
}

#headerbg{
  background: #006ec3;
  color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  height: 80px;
  margin-bottom: 50px;
}
.header{
  margin: 0 40px;
}
.logo-img{
  background: url("") center center/100px auto no-repeat;
  height: 80px;
  width: 100px;
  display: inline-block;
  float: left;
}
 
.navbar-toggle{
  right: 0;
  top: 15px;
  z-index: 10;
}
.navbar-toggle span.icon-bar{
  background: #ccc;
}
.main-nav{
  padding-top: 15px;  
  margin-top: 15px;
}
.main-nav ul li{
  display: inline;
  margin-right: 15px;
}
.main-nav ul li a{
  text-decoration: none;
  color: rgba(255,255,255,0.6);
  font-size: 14px;
  transition: color ease-in-out 0.5s;
}
.main-nav ul li a:hover{
  color: #fff;
}
.main-nav ul li.active a{
  color: #fff;
}
.nav-left{
  float: left;
}
.nav-right{
  float: right;
}
.nav-right ul li a{
  border: 1px solid #ccc;
  padding: 10px 15px; 
  border-radius: 3px; 
}
.btn-part{
  float: right;
  width: 54px;
  border:1px solid rgba(255,255,255,0.6);
  border-radius: 4px;
  background: #fff;
  margin: 22px 5px 0;
}
.btn-part:hover{
  background-color: transparent;  
  transition:all 0.3s ease-in-out; 
}
.m_register{
  color: #006ec3;
}
.m_register:hover{
  
  color:rgba(255,255,255,0.6);
  transition:all 0.3s ease-in-out;
}
#divSearchPanel{
  float: right;
  width: auto;
  color: rgba(0,0,0,.8);
  margin-bottom: 0;
}

 
 
.main-content-title{
  line-height: 48px;
   
}
.main-content-title span{
  border-left: 4px solid #006ec3;
  font-size: 24px;
  padding-left: 10px;
  font-weight: 300;
}
.post{
  padding: 20px 15px;
  margin: 10px 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  transition: all ease-in-out 0.3s,;
}
.post:hover{
  box-shadow: 0 3px 8px rgba(0,0,0,.15);
  transform: translateY(-2px);
}
// .post:hover .intro h2{
//   text-decoration: underline;
// }
// .post:hover .intro p{
//   text-decoration: underline;
// }
.post:not(.row){
  padding: 20px 20px;
}
.post .post_img{
  max-height: 200px;
  overflow: hidden;
}
.post .post_img img{
  max-width: 100%;
}
.post_time{
  float: left;
  width: 40px;
  height: 85px;
  padding: 10px 5px;
  text-align: center;
  color: #fff;
  background: #5eaae4;
}
.post_r h2{
  font-size: 1em;
}
.post_r h2 a{
  text-decoration: none;
  color: #333;
  font-weight: 700;
}
.post_body{
  width: 100%;
  background: #fff;
  min-height: 78px;
}
.post_body .post_content{
  height: 46px;
}
.post_body .post_content p{
  margin-bottom: 0;
  overflow-y:hidden;
  height: 3em;

}
.post_info>span{  
  font-size: 15px;
  padding-right: 15px;
}
.post_info .author-name{
  color: #006ec3;
}
.post_info .article-time{
  color:rgba(0,0,0,0.5);
}
//post 后加

.post .author{
  margin-bottom: 15px;
}
.post .author .avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
   
  display: inline-block;
   
  background-size: cover;
  background-position: 50% 50%;
   
}
.post .info{
  display: inline-block;
  margin-left: 10px;
  vertical-align: super;
}
.post .info .name{
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  cursor: pointer;
}
.post .info .name:hover{
  color: #006ec3;
}
.post .info .time{
  font-size: 12px;
}
.post a{
  text-decoration: none!important;
}
.post .intro{
  margin-bottom: 20px;
}
.post .intro h2{
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);

}
.post .intro p{
  color: rgba(0,0,0,.44);
  font-size: 20px;
  word-break:break-word;
}
.details .readNum{
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}
.details .readNum .iconfont{
  font-size: 18px;
  z-index: -1;
}
.details .commentNum{
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 15px;
}
.details .commentNum .iconfont{
  font-size: 16px;
  text-align: text-bottom;
  z-index: -1;
}
.type_tags{
  display: inline-block;
  float: right;
}
/////end
.info_last_tags{
  position: absolute;
  bottom: 0;
  left: 15px;
}
.info_last_tags a:hover{
  text-decoration: none;
}
.info_last_right{
  position: absolute;
  bottom: 0;
  right: 0;
}
.info_last_tags span{
   
  border: 1px solid #f0f0f0;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.97);
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.info_last_tags span:hover{
   border: 1px solid rgba(0, 0, 0, 0.15);
   color: rgba(0, 0, 0, .8);
}
.info_last_tags span a{
  color: #ccc;
}
.info_last_tags span a:hover{
  text-decoration: none;
}
.single .container .main-head{
  border-bottom: 1px solid rgba(0,0,0,.09);
  padding: 20px;
  margin: 0 -15px 20px;
}
.single .container .main-head a{
  color: #000;
}
 
.single .container .main-head a:hover{
  text-decoration: none;
}
.single .container .main-content img{
  max-width: 100%;
}
.single .post_info .type_tags{
  margin-right: 15px;
}
.single .post_info .single_info_tags span{
  border: 1px solid #f0f0f0;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.97);
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.single .post_info .single_info_tags span:hover{
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, .8);
}
.single .post_info .single_info_comment{
  display: inline-block;
}
.single .main-content p{
    line-height: 1.75em;
    font-size: 16px;
    color: #3A4145;
}


 
 
.pagebar{
  padding: 20px;
  text-align: center;
  color: #fff;
}
.pagebar a{
  font-size: 12px;
}
.pagebar a:hover{
  text-decoration: none;
}
.pagebar .page{
  background: #fff;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 5px 15px;
  color: rgba(0,0,0,0.3);
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin-bottom: 5px;
}
.pagebar .page:hover{
  color: rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0.3);
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
 
.pagebar .now-page{
  color: #5eaa4e;
  background: #fff;
  font-weight: 600;
  padding: 0 8px 4px;
  border: none;
}
.pagebar .now-page:hover{
  color: #5eaa4e;
  border: none;
}
 
 
.post_nav{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post_nav a{
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 5px 15px;
  color: rgba(0,0,0,0.3);
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}
.post_nav a:hover{
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0.6);
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}
.post_nav a.l{
  margin-right: 60px;
}
 
 
.commentlist{
  margin-top: 20px;
  overflow: hidden;
}
.msg{
  margin-top:30px;
}
.msgcontainer{
  margin: 0 0 30px;
  border: 1px solid rgba(0,0,0,.09);
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}
.msgcontainer img{
  border-radius: 50%;
}
.author-name{
  color: #006ec3;
}
.comment-time{
  color:rgba(0,0,0,0.5);
}
.msgauthor{
  padding-left: 50px;
  position: relative;
}
.msgauthor .msgimg{
  position: absolute;
  left: 0;
  top: 0;
}
.msgauthor .msgimg img{
  width: 40px;
}
.msgauthor .msgname{
  position: relative;
}
.msgauthor .msgname a:hover{
  text-decoration: none;
}
.msgauthor .msgname .comment-btn{
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0,0,0,0.3);
}
.msgauthor .msgname .comment-btn:hover{
  color:rgba(0,0,0,0.6);
  text-decoration: none;
}
.msgauthorpost{
  position: relative;
}
.msgimgpost{
  text-align: center;
}
.msgimgpost img{
  width: 80px;
  height: 80px;
}
.commentpost{
  position: relative;
}
.commentpost #cancel-reply{
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0,0,0,0.3);
}
.commentpost #cancel-reply:hover{
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}
.commentpost form{
  margin-top: 10px;
}
.commentpost form input{
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  padding: 5px 10px;
}
.commentpost form input.text{
  margin: 0 10px;
  max-width: 65%;
}
.commentpost form textarea{
  border-radius: 3px;
  width: 80%;
  margin: 0 10px 10px;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  margin-left: 6px;
}
 
.commentpost form input.button{
  background: #fff;
  border: 1px solid #006ec3;
  border-radius: 3px;
  padding: 5px 15px;
  color: #006ec3;
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}
.commentpost form input.button:hover{
  color: #fff;
  background-color: #006ec3;
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}
 
 
dt{
  font-size: 18px;
}
dl{
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.function_c{
  margin-left: 0;
  margin-top: 10px;
}
.function_c ul{
  padding-left: 0;
  list-style: none;
}
.function_c ul a{
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

#divSearchPanel input{
  border: 1px solid rgba(0,0,0,0.3);
  float: left;
  padding: 5px 10px;
  padding-left: 30px;
  margin-bottom: 16px;
}
#divSearchPanel .function_t{
  background: url("") no-repeat 7px 2px;
  padding-left: 30px;
  padding-bottom: 5px;
  position: absolute;
  height: 20px;
  margin-top: 6px;
}
#divSearchPanel .function_c{
  margin-top: 24px; 
}
#divSearchPanel .function_search{
  border-radius: 25px;
  outline: none;
}
#divCatalog{
  margin-top: 17px;
}
#divCatalog dt{
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#divCatalog ul li{
  border: 1px solid #f0f0f0;
  padding: 5px 10px;
  display: inline-block;
  background: #fff;
  margin-right: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 13px;
  background: rgba(255,255,255,.97);
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-weight: 400;
}
#divCatalog ul li a{
  color: rgba(0, 0, 0, 0.6);
}
#divCatalog ul li:hover{
  border: 1px solid rgba(0, 0, 0, 0.15);
}
#divCatalog ul li:hover a{
  color: rgba(0,0,0,.8);
}
#divCatalog a{
  text-decoration: none;
}
#divPrevious ul{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#divPrevious li{
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 15px 0;
  transition: background-color 0.3s ease-in-out;
}
#divPrevious li:hover{
  background-color: #fff;
}
#divPrevious li a:hover{
  color:#006ec3;
}
#divPrevious li div{
  max-height: 70px;
  height: 70px;
  overflow: hidden;
  display: inline-block;
  width: 34%;
  vertical-align: middle;
  margin-right: 15px;
  background-size: cover;
  background-position: 50%;
}
#divPrevious img{
  width: 34%;
  margin-right: 15px;
  vertical-align: middle;
}

#divComments ul{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#divComments li{
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 15px 0;
  transition: background-color 0.3s ease-in-out;
}
#divComments li:hover{
  background-color: #fff;
}
#divComments .title{
  display: block;
  text-align: left;
  padding: 10px 0;
}
#divComments .title.active{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#divComments li:first-child{
  border-top: none;
}
#divComments .article-title{
  font-weight: normal;
  margin: 10px 0;
  font-size: 18px;
}
#divComments p{
  white-space: normal;
}
#divComments p .commentor{
  color: #006ec3;
}
#divComments p.footer{
  margin-top: 15px;
}
#divComments .date{
  font-size: 12px;
}
#divComments .great{
  font-size: 12px;
  float: right;
}
#divComments .great img{
  width: 18px;
  margin-top: -5px;
}
#divComments .avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  float: left;
  margin-right: 20px;
}
#divComments .contents{
  display: none;
}
.mauticform_wrapper {    background: #fff;    padding: 5px 20px; border-radius: 5px;}
.mauticform-innerform {}
.mauticform-post-success {}
.mauticform-name { font-weight: bold; font-size: 1.5em; margin-bottom: 3px; }
.mauticform-description { margin-top: 2px; margin-bottom: 10px; }
.mauticform-error { margin-bottom: 10px; color: red; }
.mauticform-message { margin-bottom: 10px;color: green; }
.mauticform-row { display: block; margin-bottom: 20px; }
.mauticform-label { font-size: 1.1em; display: block; font-weight: bold; margin-bottom: 5px; }
.mauticform-row.mauticform-required .mauticform-label:after { color: #e32; content: " *"; display: inline; }
.mauticform-helpmessage { display: block; font-size: 0.9em; margin-bottom: 3px; }
.mauticform-errormsg { display: block; color: red; margin-top: 2px; }
.mauticform-selectbox, .mauticform-input, .mauticform-textarea { width: 100%; padding: 0.2em 0.2em; border: 1px solid #CCC; box-shadow: 0px 1px 3px #DDD inset; border-radius: 4px; box-sizing: border-box; }
.mauticform-checkboxgrp-row {}
.mauticform-checkboxgrp-label { font-weight: normal; }
.mauticform-checkboxgrp-checkbox {}
.mauticform-radiogrp-row {}
.mauticform-radiogrp-label { font-weight: normal; }
.mauticform-radiogrp-radio {}
.mauticform-button{border: 1px solid #00ab6b;border-radius: 3px;padding: 5px 15px;color:#00ab6b;width: 100%;background: #fff;}
.mauticform-close{
  position: absolute;
  top: 3px;
  right: 3px;
}
.mauticform-close img{
  height: 18px;
  cursor: pointer;
}
#divSubscibe dt{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 5px;
}

#divSubscibe .subscibeline{
  line-height:24px;
  margin-top: 4px;
}
#divSubscibe .subscibeline .bdsharebuttonbox{
  display: inline-block;
  vertical-align: middle;
}
#divSubscibe button{
  display: inline-block;
  vertical-align: middle;
  margin: 4px;
  background: #ea8010;
  padding: 0 5px;
  border-radius: 5px;
  border: none;
}
#divSubscibe button img{
  height: 16px;
}
#divSubscibe button span{
  vertical-align: middle;
}
#subscibeform{
  position: fixed;
  top: -50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -150px;
  z-index: 10;
}
.mauticform-input.errorborder{
  border-color:red;
}
 
 
#authorInfo{
  text-align: center;
  margin: 15px 0;
  color:#ccc;
  word-wrap: break-word;
}
#authorInfo .authorInfo-img{
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto 15px;
}
 

 
#footer{
  margin-top: 30px;
}
#footer .footer-content{
  padding-top: 0;
  background-color: #2c2a35;
}
#footer .bottom-bar{
  color: rgba(255,255,255,4);
  font-size: 14px;
  padding: 35px 0;
}
#footer .bottom-bar .copyright{
  line-height: 1.6;
}
#footer .footer-col a{
  color: rgba(255,255,255,0.5);
  font-weight: 400;
}
#footer .footer-logo-img{
  display: inline-block;
  float: left;
  background: url("") center center/70px auto no-repeat;
  width: 70px;
  height: 70px;
  margin-top: 5px;
}
#footer .contact-wrp{
  float: right;
  margin-top: 20px;
}
#footer .bottom-bar .contact-box{
  display: inline-block;
  position: relative;
}
#footer .bottom-bar .contact-box div{
  display: inline-block;
  position: relative;
}
#footer .bottom-bar .contact-box img{
  display: inline-block;
  width: 25px;
  cursor: pointer;
  vertical-align: sub;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#footer .bottom-bar .contact-box img.qcode{
  position: absolute;
  top: -110px;
  width: 100px;
  left: -70px;
  display: none;
}
#footer .bottom-bar .contact-box img.wechat:hover ~img.qcode{
  display: block;
}

#footer .has-divider{
  border-bottom: 1px solid #77787c;
  padding-bottom: 3px;
  margin: 0 15px 5px;
}
#footer .footer-col.other-links ul{
  color: #969696;
  margin-bottom: 0;
  padding-left: 15px;
  font-size: 10px;
}
#footer .footer-col.other-links ul li{
  display: inline-block;
  padding: 2px 12px 2px 0;
}
#footer .footer-col.other-links ul li a{
  color: rgba(255,255,255,0.4);
  font-weight: 400;
}
#goTopBtn{
   
  position: fixed;
  bottom: 0;
  right: 0;
}
#goTopBtn a:hover{
  text-decoration: none;
}
#goTopBtn i{
  transform:rotate(180deg);
  display: inline-block;
}
.links_wrapper{
  padding: 10px 40px 0;
}
.links_wrapper ul{
  list-style: none;
  margin-top: 10px;
}
.links_wrapper ul li{
  float: left;
  margin-right: 5px;
}
.links_wrapper ul li a{
  color: rgba(0,0,0,0.3);
}
.links_wrapper ul li a:hover{
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}
.copyright{
  text-align: right;
  margin-top: 50px;
}
.copyright a{
  color: rgba(0,0,0,0.3);
} 
.copyright a:hover{
  text-decoration: none;
  color: rgba(0,0,0,0.6);
}
 
@media (min-width: 992px){
  .post_r h2{
    margin-top: 0;
  }
  .post .post_img img{
    width: 100%;
    min-height: 131px;
  }
  #divSearchPanel .function_search{
    width: 194px;
  }
}
@media (min-width: 768px){
  .msgimgpost{
    position: absolute;
    left: 0;
    top: 0;
  }
  .msgsubmit{
    padding-right: 15%;
    text-align: right;
  }
  .commentpost form{
    margin-left: 150px;
  }
  #navbar-collapse{
    display: block;
    padding-right: 0;
    padding-left: 0;
  }
  .header-fix{
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 1;
  }
  #content.with-header-fix{
    padding-top: 130px;
    //130 = 50(本来的padding) + 80 导航栏高
  }
}
@media screen and (max-width: 991px){
  .main-nav ul{
    padding-left: 20px;
  }
  .main-nav ul li a{
    font-size: 12px;
  }
  .container{
    width: 90%;
  }
  #sidebar{
    display: none;
  }
}
@media screen and (min-height: 768px) and (max-width: 850px){
  #divSearchPanel .function_search{
    width: 85px;
  }
}
@media (max-width: 767px){
  .msgsubmit{
    text-align: center;
  }
  .info_last_tags{
    display: none;
  }
  .post_info span{
    font-size: 12px;
  }
  .main-content-title{
    display: none;
  }
  #divSearchPanel{
    display: none;
  }
   

  .main-nav.nav-left{
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 0;
  }
  .main-nav.nav-left{
    transition:left 0.5s ease-in-out;
    opacity: 0;
  }
  .main-nav.nav-left.chuxian{
    opacity: 1;
    transition:left 0.5s ease-in-out;
  }
  .main-nav.nav-left ul{
    padding-left: 0;
  }
  .main-nav.nav-left ul li{
    display: block;
    border-bottom:1px solid rgba(255,255,255,0.2);
    margin-right: 0;
  }
  .main-nav.nav-left ul li a{
    font-size: 15px;
    padding: 15px 20px;
    color: rgba(255,255,255,0.7);
    display: block;
    text-align: center;
  }
  .main-nav.nav-left ul li a:hover{
    color: #fff;
  }
}
@media (max-width: 480px){
  .pagebar a:nth-child(1) span:after{
    content: '';
    margin-left: 0;
  }
  .pagebar a:nth-child(3) span:before{
    content: '';
    margin-right: 0;
  }
  .commentpost form textarea{
    width: 65%;
  }
  .post_nav a.l{
    margin-right: 30px;
  }
  .single .container .main-head h2{
    font-size: 20px;
  }
}